<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<link rel="stylesheet" th:href="@{/css/forumstyle.css}">
<meta charset="UTF-8">
<title>Buhaiul Home</title>

<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    Navigate-->
    <nav th:include="navigation.html :: navigation">
    </nav>

    <!--    Navigate-->


</head>
<body>

<div class="row">
    <div class="column left">
        <h1>Tutoriale</h1>
        <p>Informatii Utile </p>
        <button>Slack JavaTM06</button>

    </div>


    <div class="column middle">

        <div class="elementInside">
            <h1>
                Description:
            </h1>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <button class="btn_style" type="submit">Sent</button>
        </div>
    </div>

    <div class="column right">
        <h1>Utilizatori</h1>
        <p>Informatii Utilizatori </p>

        <table class="tableposition">
            <thead>
            <tr>
                <td>
                    <h5><b>Utilizator</b></h5>
                </td>


            </tr>
            </thead>
            <tbody>
            <tr>
                <td> U.Content</td>

            </tr>
            </tbody>
        </table>


    </div>
</div>


</body>
</html>